<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>My ToDo App</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <div
    fxFill
    fxLayout="row warp"
    fxLayout.xs="column wrap"
    fxLayout.sm="column wrap"
    fxLayoutGap="15px grid"
    fxLayoutAlign="center"
    >
  <form [formGroup]="form" (ngSubmit)="addToDo()" #formDirective="ngForm">
    <mat-card>
      <mat-card-header>
        <mat-card-title> Add ToDo</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <label>Description:&nbsp;&nbsp;</label>
        <mat-form-field>
          <input matInput formControlName="task">
        </mat-form-field>
        <div>
          <label> Priority:&nbsp;&nbsp; </label>
          <mat-radio-group
          arial-label="select an option"
          formControlName="priority">
            <mat-radio-button *ngFor='let p of priority' value="{{p}}">{{p}} &nbsp;</mat-radio-button>
          </mat-radio-group>
        </div>
        <label>Due Date:&nbsp;&nbsp;</label>
        <mat-form-field>
          <input matInput
                  [matDatepicker]="picker"
                 formControlName="dueDate"
                [min] ="tomorrow" >
          <mat-datepicker-toggle
            matSuffix
          [for]="picker">
            <mat-datepicker #picker></mat-datepicker>
          </mat-datepicker-toggle>
        </mat-form-field>

        <!--button-->
        <div fxLayoutGap="1vw" >
          <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || !toUpdate">Add</button>
          <button mat-raised-button color="primary" type="button"
                  [disabled]="toUpdate" (click)="updateTask(taskId)">Update</button>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>My Todo List</mat-card-title>
      </mat-card-header>
        <mat-card-content>
          <div *ngFor="let t of todoValues" >
            <mat-card  >
              <mat-card-title class="card-title">{{t.task}}</mat-card-title>
              <div fxLayout="row wrap" fxLayoutAlign="space-between">
                <mat-checkbox [ngClass]="checked? 'strikethrough': ''" class="checkbox" color="primary"
                              [checked]="checked" (change)="complete($event.checked)">
                  {{t.priority}}&nbsp;&nbsp;&nbsp;&nbsp;{{t.dueDate | date:"MMM d, y"}}&nbsp;&nbsp;
                </mat-checkbox>

                  <div fxLayoutGap="5px" class="edit-button">
                    <button mat-mini-fab color="warn" aria-label="delete icon" type="button" (click)="deleteTask(t.taskId)">
                      <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-mini-fab color="warn" aria-label="delete icon" type="button" (click)="editTask(t)">
                      <mat-icon>edit</mat-icon>
                    </button>
                  </div>
              </div>
            </mat-card>
          </div>
        </mat-card-content>
    </mat-card>
  </form>
  </div>

</div>
